@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Explora&family=Gravitas+One&family=Josefin+Sans&family=Lora&family=Source+Sans+Pro:wght@300&display=swap');

header {
    /* background-color:rgb(14, 1, 1); */
    color: rgb(190, 190, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    font-family: 'Gravitas One', cursive;

}

header nav a {
    color: rgb(190, 190, 190);
    text-decoration: none;
    margin-left: 2rem;
}

.bg {
    background: url(img/pic\ 12.jpg) fixed center;
    background-size: cover;
    background-position: center;
}

.center {
    display: flex;
    align-items: center;
    padding: 1em;
}

.bg-pic {
    height: 50vh;
    width: 100%;
    background-image: url(-img/pic\ 3.jpg);
    background-size: cover;
    background-position: center;
}

.bg-pic1 {
    height: 50vh;
    width: 100%;
    /* background-image: url(img/pic\ 6.jpg); */
    background-size: cover;
    background-position: center;
}

.txt1 {
    color: rgb(190, 190, 190);
    font-family: 'Lora', serif;
}

.text2 {
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: 'Source Sans Pro', sans-serif;
}

.crd {
    display: flex;
    /* align-items: center; */
    padding: 2em;
    column-gap: 4em;
    justify-content: center;
}

.crd2 {
    display: flex;
    /* align-items: center; */
    padding: 2em;
    column-gap: 3cm;
    justify-content: center;
}

.bl {
    width: 100%;
    height: 60vh;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(225, 213, 213, 0.5);
    border-left: 1px solid rgba(225, 213, 213, 0.5);
    backdrop-filter: blur(3px);
}

.bl2 {
    width: 100%;
    height: 45vh;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(225, 213, 213, 0.5);
    border-left: 1px solid rgba(225, 213, 213, 0.5);
    backdrop-filter: blur(3px);

}